@font-face {
    font-family: MavenPro;
    src: url("/fonts/MavenPro-VariableFont_wght.ttf");
}

:root {
    --bg1: hsl(0, 0%, 6%);
    --bg2: #151515;
    --bg3: #1f1f1f;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: MavenPro, sans-serif;
    color: white;
    background-color: var(--bg1);
}

main {
    min-height: 100vh;
}