@font-face {
	font-family: MavenPro;
	src: url('/fonts/MavenPro-VariableFont_wght.ttf');
}

@font-face {
	font-family: Quicksand;
	src: url('/fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
	font-family: Montserrat-ExtraBold;
	src: url('/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
	font-family: Montserrat-Bold;
	src: url('/fonts/Montserrat-Bold.ttf');
}

:root {
	--bg1: #0f0f0f;
	--bg2: #151515;
	--bg3: #1f1f1f;
	--bg4: #323232;
	--font-color: white;
	--yagami-pink: #f34e87;
	--yagami-orange: #ffab74;
}

body.lightmode {
	--bg1: #ffffff;
	--bg2: #ededed;
	--bg3: #cdcdcd;
	--font-color: black;
	color: black;
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	font-family: MavenPro, sans-serif;
	color: white;
	background-color: var(--bg1);
}

main {
	min-height: 100vh;
}

button:hover {
	cursor: pointer;
}

button {
	color: var(--font-color);
	outline: none;

	font-family: inherit;
	font-size: inherit;

	border: solid 2px var(--font-color);
	border-radius: 6px;
	padding: 5px;
	margin-bottom: 2rem;
	transition: border-color 200ms ease;
	background-color: var(--bg1);
}

a {
	text-decoration: none;
	color: var(--font-color);
}